<h1>
  Projects

  <%= link_to new_project_path, class: "btn btn-primary" do %>
    <span class="bi bi-plus-lg" aria-hidden="true"></span>
    New Project
  <% end %>
</h1>

<%= render "index_projects", projects: @projects %>
